<!-- MapServer Template -->
<html>
  <head>
    <title>test</title>
  </head>
  <body>
[resultset layer="flood20121203181010053"]
<b>"flood"</b>
<table class="idtmplt_tableclass">
  <tr class="idtmplt_trclass_1h">
    <td class="idtmplt_tdclass_1h">"OBJECTID"</td>
    <td class="idtmplt_tdclass_1h">"DFIRM_ID"</td>
    <td class="idtmplt_tdclass_1h">"VERSION_ID"</td>
    <td class="idtmplt_tdclass_1h">"FLD_AR_ID"</td>
    <td class="idtmplt_tdclass_1h">"STUDY_TYP"</td>
    <td class="idtmplt_tdclass_1h">"FLD_ZONE"</td>
    <td class="idtmplt_tdclass_1h">"ZONE_SUBTY"</td>
    <td class="idtmplt_tdclass_1h">"SFHA_TF"</td>
    <td class="idtmplt_tdclass_1h">"STATIC_BFE"</td>
    <td class="idtmplt_tdclass_1h">"V_DATUM"</td>
    <td class="idtmplt_tdclass_1h">"DEPTH"</td>
    <td class="idtmplt_tdclass_1h">"LEN_UNIT"</td>
    <td class="idtmplt_tdclass_1h">"VELOCITY"</td>
    <td class="idtmplt_tdclass_1h">"VEL_UNIT"</td>
    <td class="idtmplt_tdclass_1h">"SOURCE_CIT"</td>
    <td class="idtmplt_tdclass_1h">"SHAPE_Leng"</td>
    <td class="idtmplt_tdclass_1h">"SHAPE_Area"</td>
</tr>
[feature limit=20]
  <tr class="idtmplt_trclass_2h">
    <td class="idtmplt_tdclass_2h">[item name="OBJECTID"]</td>
    <td class="idtmplt_tdclass_2h">[item name="DFIRM_ID"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VERSION_ID"]</td>
    <td class="idtmplt_tdclass_2h">[item name="FLD_AR_ID"]</td>
    <td class="idtmplt_tdclass_2h">[item name="STUDY_TYP"]</td>
    <td class="idtmplt_tdclass_2h">[item name="FLD_ZONE"]</td>
    <td class="idtmplt_tdclass_2h">[item name="ZONE_SUBTY"]</td>
    <td class="idtmplt_tdclass_2h">[item name="SFHA_TF"]</td>
    <td class="idtmplt_tdclass_2h">[item name="STATIC_BFE"]</td>
    <td class="idtmplt_tdclass_2h">[item name="V_DATUM"]</td>
    <td class="idtmplt_tdclass_2h">[item name="DEPTH"]</td>
    <td class="idtmplt_tdclass_2h">[item name="LEN_UNIT"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VELOCITY"]</td>
    <td class="idtmplt_tdclass_2h">[item name="VEL_UNIT"]</td>
    <td class="idtmplt_tdclass_2h">[item name="SOURCE_CIT"]</td>
    <td class="idtmplt_tdclass_2h">[item name="SHAPE_Leng"]</td>
    <td class="idtmplt_tdclass_2h">[item name="SHAPE_Area"]</td>
  </tr>
[/feature]
</table>
[/resultset]
<hr>
  </body>
</html>