<!-- MapServer Template -->
<html>
  <head>
    <title>Regione Toscana - Settore Sistema Informativo Territoriale ed Ambientale - Servizio Geoscopio_WMS - Catasto Terreni</title>
  </head>
  <body>
	<hr>
       <table border="0" width="100%">
       <tr>
         <td align="left"><a href="http://www.regione.toscana.it/"><img src="http://web.regione.toscana.it/wmsraster/immagini/logo_rt_1.jpg" alt="Logo Regione Toscana" title="Home Page Regione Toscana" title="Home Page Geoscopio_WMS"></a></td>
         <td align="left"><a href="http://www.regione.toscana.it/regione/export/RT/sito-RT/Contenuti/sezioni/ambiente_territorio/cartografia/rubriche/documentazione/visualizza_asset.html_1102272190.html"><img src="http://web.regione.toscana.it/wmsraster/immagini/logo_geoscopio_wms.png" alt="Logo Geoscopio_WMS"></a></td>
       </tr>
       <tr>
         <td rowspan="1">
           <font size=-1">
             Firenze, [date format="%d/%b/%Y"]<br/>
             Punto selezionato:<br/>
             Coordinate proiettate: [mapx], [mapy]<br/> 
             Coordinate geografiche: [maplon], [maplat]<br/>
             Mappa scala: 1:[scaledenom]
           </font>
	  </td>
         <td align="left">
           <!--center-->
             Naviga in 3D con<br/>
             <a href="http://www.rete.toscana.it/sett/pta/cartografia_sit/sit/terraflyer/terraflyer.html?initCoordX=[mapx]&initCoordY=[mapy]&initHeading=0&langId=ita"><img src="http://www.rete.toscana.it/sett/pta/cartografia_sit/sit/terraflyer/ingresso/img_title/title.gif" alt="Logo Terraflyer" title="TerraFlyer"></a>
             <!-- <a href="http://www.rete.toscana.it/sett/pta/cartografia_sit/sit/terraflyer2/test.html?target=[mapx],[mapy],750&position=[mapx],[mapy],800"><img src="http://www.rete.toscana.it/sett/pta/cartografia_sit/sit/terraflyer/ingresso/img_title/title.gif" alt="Logo Terraflyer" title="TerraFlyer"></a> -->
           <!--/center-->
         </td>
       </tr>     
	</table>
	<hr>
<table border="0" align="right" width="100%">
[resultset layer="rt_cat.idcatbdfog.rt"]
<tr><td>Strato: <b>Fogli catastali</b></td><td colspan="3"><font size="-1">Lo strato dei fogli catastali &egrave; stato ottenuto per riaggregazione delle particelle catastali. Pertanto le date di validit&agrave; del dato sono reperibili nello strato delle particelle</font></td></tr>
[feature limit=20]
<tr>
  <td colspan="4" align="left" valign="top">
    <table border="0" width="100%">
      <tr><td width="5%">&nbsp;&nbsp;</td><td width="15%"><font size=-1">Id. interno: [item name="PKUID"]&nbsp;&nbsp;</font></td><td width="80%" colspan="2">&nbsp;</td></tr>
      <tr><td></td><td>&nbsp;&nbsp;</td><td><font size=-1">Comune: Codice Catastale / Codice ISTAT:</font></td><td><font size=-1">[item name="BELFIORE"] / [item name="CODCOM"]</font></td></tr>
      <tr><td></td><td>&nbsp;&nbsp;</td><td><font size=-1">Comune: Nome (Prov):</font></td><td><font size=-1">[item name="COMUNE"] ([item name="SIGLAPROV"])</font></td></tr>
      <tr><td></td><td>&nbsp;&nbsp;</td><td><font size=-1">Zona cens:</font></td><td><font size=-1">[item name="ZONA_CENS"]</font></td></tr>
      <tr><td></td><td>&nbsp;&nbsp;</td><td><font size=-1">Foglio:</font></td><td><font size=-1">[item name="FOGLIO"]</font></td></tr>
    </table><br/>
  </td>
</tr>
<tr><td colspan="4"><hr></td></tr>
[/feature]
[/resultset]
[resultset layer=rt_cat.idcatpart.rt]
<tr><td>Strato: <b>Particelle catastali</b></td><td colspan="3">&nbsp;</td></tr>
[feature limit=20]
<tr>
  <td colspan="4" align="left" valign="top">
    <table border="0" width="100%">
      <tr><td width="10%"><font size=-1">Id. interno:<br/>[item name="PKUID"]</font></td><td width="80%" colspan="2"><font size=-1">Data scarico da AdT (aaaammgg): [item name="DTSCA"]</font></td></tr>
      <tr><td width="10%">&nbsp;</td><td width="25%"><font size=-1">Dim:</font></td><td><font size=-1">[item name="DIM"]</font></td></tr>
      <tr><td width="10%">&nbsp;</td><td width="25%"><font size=-1">Ang / PosX / PosY:</font></td><td><font size=-1">[item name="ANG"] / [item name="POSX"] / [item name="POSY"]</font></td></tr>
      <tr><td width="10%">&nbsp;</td><td width="25%"><font size=-1">PIntX / PIntY:</font></td><td><font size=-1">[item name="PINTX"] / [item name="PINTY"]</font></td></tr>
      <tr><td width="10%">&nbsp;</td><td width="25%"><font size=-1">Superf. ufficiale (mq):</font></td><td><font size=-1">[item name="SUP"]</font></td></tr>
      <tr><td width="10%">&nbsp;</td><td width="25%"><font size=-1">Comune: Codice Catastale / Codice ISTAT:</font></td><td><font size=-1">[item name="BELFIORE"] / [item name="CODCOM"]</font></td></tr>
      <tr><td width="10%">&nbsp;</td><td width="25%"><font size=-1">Comune: Nome (Prov):</font></td><td><font size=-1">[item name="COMUNE"] ([item name="SIGLAPROV"])</font></td></tr>
      <tr><td width="10%">&nbsp;</td><td width="25%"><font size=-1">Zona cens:</font></td><td><font size=-1">[item name="ZONA_CENS"]</font></td></tr>
      <tr><td width="10%">&nbsp;</td><td width="25%"><font size=-1">Foglio:</font></td><td><font size=-1">[item name="FOGLIO"]</font></td></tr>
      <tr><td width="10%">&nbsp;</td><td width="25%"><font size=-1">Particella:</font></td><td><font size=-1">[item name="PARTICELLA"]</font></td></tr>
    </table><br/>
  </td>
</tr>
<!--
<tr>
  <td colspan="4" align="center" ><img height="[HEIGHT]" width="[WIDTH]" src="[web_wms_onlineresource]&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&BBOX=[shpminx],[shpminy],[shpmaxx],[shpmaxy]&CRS=[CRS]&WIDTH=[WIDTH]&HEIGHT=[HEIGHT]&LAYERS=[LAYERS]&STYLES=&FORMAT=[FORMAT]&DPI=96&TRANSPARENT=TRUE"></td>
</tr>
-->
<tr><td colspan="4"><hr></td></tr>
[/feature]
[/resultset]
</table>
<hr>
         <img height="21" width="20" src="http://web.regione.toscana.it/wmsraster/immagini/marker_identify.gif" > Il punto identificato (the clicked point)<p/>

         <img id="marker.[Layers]" height="42" width="41" src="http://web.regione.toscana.it/wmsraster/immagini/marker_identify.gif" style="display: block; position: relative;">
         <img id="map" height="[HEIGHT]" width="[WIDTH]" src="[web_wms_onlineresource]&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&BBOX=[BBOX]&CRS=[CRS]&WIDTH=[WIDTH]&HEIGHT=[HEIGHT]&LAYERS=[LAYERS]&STYLES=&FORMAT=[FORMAT]&TRANSPARENT=[TRANSPARENT]">
         <!-- <img height="[HEIGHT]" width="[WIDTH]" src="[web_wms_onlineresource]&SERVICE=WMS&VERSION=[VERSION]&REQUEST=GetMap&BBOX=[minx],[miny],[maxx],[maxy]&CRS=[CRS]&WIDTH=[WIDTH]&HEIGHT=[HEIGHT]&LAYERS=[layers]&STYLES=&FORMAT=[FORMAT]&TRANSPARENT=TRUE"> -->
	<script type="text/javascript">
		var pixel_i = -1;
		var pixel_j = -1;

		try {
			//Run some code here
			pixel_i = [I];
		} catch(err) {
			//Handle errors here
			pixel_i = [i];
		}
		try {
			//Run some code here
			pixel_j = [J];
		} catch(err) {
			//Handle errors here
			pixel_j = [j];
		}
		//document.getElementById('map').onclick = function(e)
		{   
			with(document.getElementById('marker.[Layers]'))
   			{
        			style.left = pixel_i-21;  // 20 = meta larghezza immagine marker
				style.top = pixel_j+21; //21 = meta' altezza immagine marker
				style.display = block;
				style.visibility = visible;
			}
			// Here you forward the coordinates e.pageX, e.pageY 
			// ... to whatever function that needs it
		};
	</script>
  </body>
</html>
